*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(229, 245, 250);
}

img{
    display: inline-flex;
    width: 200px;
    height: 150px;
    margin-left: 0%;
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
    background-color: rgb(247, 246, 246);
}

label{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(120deg, #3acbf0 0%, #123BCC 100%);
    border-radius: 10px 10px  0 0;
    padding-left: 115px;
    padding-right: 113px;
    margin: 0%;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

button{
    width: 250px;
    height: 30px;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: 0;
    border-radius: 20px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}